@font-face {
  font-family: 'GothamNightsBoldItalic';
  src: url("../Fonts/Gotham Nights Bold Italic.otf") format("opentype"); }
@font-face {
  font-family: 'GothamNightsBold';
  src: url("../Fonts/Gotham Nights Bold.otf") format("opentype"); }
@font-face {
  font-family: 'GothamNightsItalic';
  src: url("../Fonts/Gotham Nights Italic.otf") format("opentype"); }
a {
  color: #f5bda6; }

/*1366px normal resolution*/
body {
  width: 97%;
  margin: 0;
  padding: 0 20px;
  background-color: #130707; }
  body #wrapper {
    width: 100%;
    margin: 0 auto;
    color: #f5bda6;
    padding: 10px; }
    body #wrapper header {
      width: 100%;
      box-shadow: #3c0000 0 0 200px; }
      body #wrapper header ul {
        margin: 0;
        padding: 10px 0 5px 0;
        height: 185px;
        display: flex;
        flex-flow: row wrap; }
        body #wrapper header ul #arkham-knight-logo {
          width: 29%;
          margin: 0; }
        body #wrapper header ul #right-padded {
          margin: 0px 0px;
          display: flex;
          width: 55%;
          align-self: center;
          justify-content: space-between; }
        body #wrapper header ul li {
          width: 22%;
          text-align: center;
          border-radius: 5px;
          list-style: none;
          display: inline-block;
          font-family: GothamNightsBold;
          font-size: 40px;
          margin: 5px 20px;
          transition: 0.8s; }
          body #wrapper header ul li img {
            width: 300px; }
          body #wrapper header ul li:hover {
            background-color: black; }
    body #wrapper main {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      body #wrapper main .union {
        box-shadow: #3c0000 0 0 200px;
        margin: 10px 0; }
        body #wrapper main .union section {
          width: 48%; }
      body #wrapper main .section-main-info {
        display: inline-block;
        width: 72%; }
        body #wrapper main .section-main-info section {
          margin: 5px;
          display: inline-block; }
          body #wrapper main .section-main-info section h2 {
            font-family: GothamNightsBold;
            font-size: 30px; }
          body #wrapper main .section-main-info section img {
            width: 360px; }
          body #wrapper main .section-main-info section article {
            display: inline-block;
            width: 25%;
            font-family: GothamNightsBoldItalic;
            font-size: 21px; }
      body #wrapper main .section-secondary-info {
        width: 26%;
        padding: 5px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: 100%; }
        body #wrapper main .section-secondary-info header {
          font-family: GothamNightsBold;
          font-size: 24px;
          width: 26.5%; }
          body #wrapper main .section-secondary-info header h3 {
            margin: 0; }
        body #wrapper main .section-secondary-info section {
          font-family: GothamNightsBold;
          margin-bottom: 25px;
          margin-top: 5px; }
      body #wrapper main nav {
        padding: 0 3%;
        width: 100%; }
        body #wrapper main nav ul {
          padding: 0;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          list-style-type: none;
          margin: 0; }
          body #wrapper main nav ul li {
            font-family: GothamNightsBold;
            font-size: 30px;
            margin: 0px 20px;
            transition: 1s;
            align-self: flex-end;
            margin-bottom: 3px; }
            body #wrapper main nav ul li:nth-of-type(1) {
              margin: 0px 20px 0px 0px; }
            body #wrapper main nav ul li h2 {
              margin: 0;
              padding-top: 0;
              align-self: flex-start;
              vertical-align: bottom;
              margin-bottom: 0; }
            body #wrapper main nav ul li:hover {
              color: #580d0d;
              text-decoration: underline;
              cursor: pointer; }
    body #wrapper footer {
      width: 100%;
      text-align: center;
      font-family: GothamNightsItalic;
      font-size: 10px; }

#wrapper > main > section > .union > section > article {
  width: 100%; }

#wrapper > header > ul > li:nth-child(1):hover {
  background-color: transparent !important; }

#arkham-knight-logo {
  float: left; }

#wrapper > main > section > div:nth-child(2) > section:nth-child(2) > h2 > a {
  color: darkred; }

/*******************************1200 small resolution****************/
/*****************************Implement missing layout***************************/
@media screen and (max-width: 1200px) {
  body {
    width: 95%; }
    body #wrapper header ul {
      justify-content: center; }
      body #wrapper header ul #arkham-knight-logo {
        display: none; }
      body #wrapper header ul #right-padded {
        width: 90%;
        align-self: center;
        justify-content: space-between; }
    body #wrapper main {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      background: url("../images/LogoBackground.png") no-repeat;
      background-position: center; }
      body #wrapper main .union {
        box-shadow: #3c0000 0 0 200px;
        margin: 10px 0; }
        body #wrapper main .union section {
          width: 48%; }
      body #wrapper main .section-main-info {
        width: 100%; }
        body #wrapper main .section-main-info .union {
          width: 100%;
          display: flex;
          flex-flow: row wrap; }
          body #wrapper main .section-main-info .union section:first-of-type {
            width: 35%; }
          body #wrapper main .section-main-info .union section:nth-of-type(2) {
            width: 60%; }
          body #wrapper main .section-main-info .union section img {
            width: 75%;
            display: block;
            align-self: flex-start; }
          body #wrapper main .section-main-info .union section article {
            display: inline-block;
            width: 100%;
            font-family: GothamNightsBoldItalic;
            font-size: 21px; }
      body #wrapper main .section-secondary-info {
        padding: 0;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; }
        body #wrapper main .section-secondary-info section {
          width: 49%; }
      body #wrapper main nav {
        padding: 0% 0% 0% 2%;
        width: 100%; }
        body #wrapper main nav ul {
          width: 85%;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          list-style-type: none;
          margin: 0;
          padding: 0; }
          body #wrapper main nav ul li {
            font-family: GothamNightsBold;
            font-size: 30px;
            margin: 0px 20px;
            transition: 1s;
            align-self: flex-end;
            margin-bottom: 3px; }
            body #wrapper main nav ul li:nth-of-type(1) {
              margin: 0px 20px 0px 0px; }
            body #wrapper main nav ul li h2 {
              margin: 0;
              padding-top: 0;
              align-self: flex-start;
              vertical-align: bottom;
              margin-bottom: 0; }
            body #wrapper main nav ul li:hover {
              color: #580d0d;
              text-decoration: underline;
              cursor: pointer; } }
@media screen and (max-width: 600px) {
  body #wrapper footer img {
    width: 23%; } }
/*******************************560 xsmall resolution*****************************/
/*****************************Implement missing layout***************************/
@media screen and (max-width: 560px) {
  body {
    width: 90%; }
    body #wrapper header ul {
      justify-content: flex-start; }
      body #wrapper header ul #right-padded {
        flex-flow: column wrap;
        justify-content: flex-end;
        align-self: center;
        width: 100%;
        padding: 0% 5%; }
        body #wrapper header ul #right-padded a {
          align-self: center;
          margin: 0;
          width: 100%; }
          body #wrapper header ul #right-padded a li {
            width: 100%;
            margin: 0;
            border-bottom: 1px solid white; }
          body #wrapper header ul #right-padded a:last-of-type li {
            border-bottom: none; }
    body #wrapper main {
      background: none; }
      body #wrapper main .union {
        box-shadow: #3c0000 0 0 200px;
        margin: 10px 0; }
      body #wrapper main .section-main-info {
        width: 100%; }
        body #wrapper main .section-main-info .union {
          width: 100%; }
          body #wrapper main .section-main-info .union section:first-of-type {
            width: 100%;
            text-align: center; }
          body #wrapper main .section-main-info .union section:nth-of-type(2) {
            width: 100%;
            text-align: center; }
          body #wrapper main .section-main-info .union section img {
            width: 100%; }
      body #wrapper main .section-secondary-info {
        padding: 0;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; }
        body #wrapper main .section-secondary-info section {
          width: 100%; }
          body #wrapper main .section-secondary-info section header {
            width: 100%;
            text-align: center; }
      body #wrapper main nav {
        padding: 0% 0% 0% 5%;
        width: 100%; }
        body #wrapper main nav ul {
          width: 100%;
          flex-flow: column wrap;
          justify-content: center;
          list-style-type: none;
          margin: 0;
          padding: 0; }
          body #wrapper main nav ul li {
            align-self: center; }
            body #wrapper main nav ul li:nth-of-type(1) {
              margin: 0px 20px 35px 20px;
              text-decoration: underline; }
            body #wrapper main nav ul li:last-of-type {
              text-decoration: underline; }
            body #wrapper main nav ul li h2 {
              margin: 0;
              padding-top: 0;
              align-self: flex-start;
              vertical-align: bottom;
              margin-bottom: 0; }
            body #wrapper main nav ul li:hover {
              color: #580d0d;
              text-decoration: underline;
              cursor: pointer; } }

/*# sourceMappingURL=BatmanArkhamKnight.css.map */
