body {
  margin: 0;
  padding: 10px 0px 0px 0px;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 14px;
  #wrapper {
    margin: 0 auto;
    width: 1000px;
    box-sizing: border-box;
    nav {

      ul {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        background-color: #384452;
        padding: 0;
        margin: 0;
        li {
          height: 65px;
          padding: 0px 0px 0px 20px;

          //          &:nth-of-type(1){
          //
          //          }
          &:nth-of-type(2) {
            background: url("../resources/03-tab02.png") no-repeat;
            background-position: center;
            background-position: left;
          }
          &:nth-of-type(3) {
            background: url("../resources/03-tab03.png") no-repeat;
            background-position: center;
            background-position: left;
          }
          &:nth-of-type(4) {
            background: url("../resources/03-tab04.png") no-repeat;
            background-position: center;
            background-position: left;
          }
          a {
            line-height: 65px;
            padding: 15px 30px;
            text-decoration: none;
            color: #97AEBE;
            padding: 20px 30px;
          }

        }
        .selected {
          background-color: #3BBC96;

          a {
            color: white;
            background: url("../resources/03-tab01.png") no-repeat;
            background-position: center;
            background-position-x: -20px;
          }
        }
      }
    }

    form {
      background-color: #EEEEEE;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      padding: 0px 25px 25px 25px;
      font-size: 14px;
      label {
        display: block;
        width: 23.5%;
        margin-left: 10px;
        margin-top: 35px;
        font-weight: bold;

        input {
          width: 85%;
          display: block;
          margin-top: 15px;
          height: 40px;
          padding-left: 10px;
          font-size: 14px;

        }

        input[type="date"] {
          height: 42px;
        }
        input[type="button"] {
          width: 91.5%;
          padding: 0;
          height: 47px;
          margin: 0;
          margin-top: 31px;
          background-color: #3BBC96;
          border-radius: 3px;
          border: none;
          color: white;

          &:focus, &:link &:visited {
            outline: none;
          }

          &:hover {
            cursor: pointer;
            background-color: #384452;
          }
        }

      }

    }

  }
}