body{
  margin: 0;
  padding: 0;
  #wrapper{
    padding: 2%;
    width: 370px;
    height: 200px;
//    border: solid 1px;
    background: url("../img/wordpress-logo.jpg") no-repeat;
    background-size: 100%;
    background-position: center;
    background-position-y: top;
form{

  margin-top: 25%;

  label{
    display: block;
    input[type="search"], input[type="submit"]{
      height: 30px;
      margin-top: 5%;
    }
}
  input[type="button"]{
    background: url("../img/button.jpg") no-repeat;
    border: none;
    background-position: 0px 0px;
    background-size: 30px;
    width: 30px;
    height: 30px;
    vertical-align: middle;

    &:hover{
      background: url("../img/button-hoverr.jpg");
      border: none;
      background-size: 30px;
      vertical-align: middle;
      cursor: pointer;
    }

    &:focus{
      outline: none;
    }
  }
}


  }
}