body {
  width: 99%;
  background: url("../images/background-flowers.jpg") repeat-x;
  font-family: Tahoma, Helvetica, sans-serif; }
  body #wrapper {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    body #wrapper > header {
      order: 1;
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-end;
      border: 1px solid;
      background-color: rgba(254, 224, 226, 0.9);
      padding: 10px;
      margin-bottom: 15px; }
      body #wrapper > header > h1 img {
        width: 30%;
        height: 30%; }
      body #wrapper > header > h1 a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        color: black; }
      body #wrapper > header > nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none; }
        body #wrapper > header > nav ul li {
          border: 1px solid;
          background-color: #EB2A7B;
          padding: 10px 0px;
          margin-left: 10px; }
          body #wrapper > header > nav ul li a {
            padding: 10px 40px;
            text-decoration: none;
            color: white; }
    body #wrapper aside.left {
      box-sizing: border-box;
      width: 20%;
      order: 2;
      border: 1px solid;
      background-color: rgba(254, 224, 226, 0.9);
      padding: 10px; }
      body #wrapper aside.left ul {
        padding: 0;
        margin: 0;
        list-style-type: none; }
        body #wrapper aside.left ul li a {
          text-decoration: none;
          color: black; }
          body #wrapper aside.left ul li a img {
            vertical-align: middle; }
    body #wrapper section {
      box-sizing: border-box;
      order: 3;
      width: 58%;
      border: 1px solid;
      background-color: rgba(254, 224, 226, 0.9);
      padding: 10px;
      height: 240px; }
      body #wrapper section article header h1 {
        margin: 0; }
      body #wrapper section article > div {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: flex-end; }
        body #wrapper section article > div img {
          width: 24%;
          height: 24%;
          margin-bottom: 5px; }
    body #wrapper aside.right {
      box-sizing: border-box;
      order: 4;
      width: 20%;
      border: 1px solid;
      background-color: rgba(254, 224, 226, 0.9);
      padding: 10px; }
      body #wrapper aside.right ul {
        padding: 0;
        margin: 0;
        list-style-type: none; }
    body #wrapper footer {
      order: 5;
      width: 100%;
      margin-top: 15px;
      border: 1px solid;
      background-color: rgba(254, 224, 226, 0.9); }
      body #wrapper footer h2 {
        text-align: center; }
        body #wrapper footer h2 a {
          color: black; }

@media screen and (min-width: 780px) and (max-width: 960px) {
  body {
    width: 97%; }
    body #wrapper {
      width: 99%; }
      body #wrapper section {
        height: auto; }
        body #wrapper section article div img {
          width: 32%; } }
@media screen and (min-width: 640px) and (max-width: 779px) {
  body {
    width: 98%;
    background: url("../images/background-flowers.jpg") repeat-y; }
    body #wrapper {
      width: 99%;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around; }
      body #wrapper > header {
        width: 96.5%; }
      body #wrapper section {
        width: 100%;
        order: 1;
        height: auto; }
        body #wrapper section article div img {
          width: 33%; }
      body #wrapper aside.left {
        width: 100%;
        order: 2;
        margin-top: 15px; }
      body #wrapper aside.right {
        width: 100%;
        order: 3;
        margin-top: 15px; }
      body #wrapper footer {
        width: 100%;
        order: 4; } }
@media screen and (max-width: 639px) {
  body {
    font-size: 0.8em;
    width: 98%; }
    body #wrapper {
      width: 99%; }
      body #wrapper > header {
        width: 98%; }
        body #wrapper > header > h1 {
          text-align: center; }
          body #wrapper > header > h1 img {
            width: 150px;
            height: auto;
            align-self: center; }
          body #wrapper > header > h1 a {
            display: flex;
            flex-direction: column; }
        body #wrapper > header nav {
          width: 100%; }
          body #wrapper > header nav ul {
            padding: 0;
            width: 95%;
            display: flex;
            flex-direction: column;
            align-self: center; }
            body #wrapper > header nav ul li {
              text-align: center; }
              body #wrapper > header nav ul li a {
                text-align: center; }
      body #wrapper section {
        width: 100%;
        order: 1;
        height: auto; }
        body #wrapper section article div img {
          width: 49%; }
      body #wrapper aside.left {
        width: 100%;
        order: 2;
        margin-top: 15px; }
      body #wrapper aside.right {
        width: 100%;
        order: 3;
        margin-top: 15px; }
      body #wrapper footer {
        width: 100%;
        order: 4;
        font-size: 0.8em; } }

/*# sourceMappingURL=styles-02.css.map */
