@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: "Open Sans", sans-serif; }
  body > header {
    width: 100%;
    background: #c9c7cc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #c9c7cc 0%, #d4d3d8 28%, #d4d3d8 51%, #cac9ce 72%, #b4b3b8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9c7cc), color-stop(28%, #d4d3d8), color-stop(51%, #d4d3d8), color-stop(72%, #cac9ce), color-stop(100%, #b4b3b8));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c9c7cc 0%, #d4d3d8 28%, #d4d3d8 51%, #cac9ce 72%, #b4b3b8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c9c7cc 0%, #d4d3d8 28%, #d4d3d8 51%, #cac9ce 72%, #b4b3b8 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c9c7cc 0%, #d4d3d8 28%, #d4d3d8 51%, #cac9ce 72%, #b4b3b8 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #c9c7cc 0%, #d4d3d8 28%, #d4d3d8 51%, #cac9ce 72%, #b4b3b8 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c7cc', endColorstr='#b4b3b8',GradientType=0 );
    /* IE6-9 */
    height: 350px; }
    body > header img {
      display: block;
      margin: 0 auto; }
    body > header > div {
      width: 300px;
      height: 100px;
      background-color: rgba(78, 83, 89, 0.5);
      position: relative;
      left: 500px;
      bottom: 150px;
      display: flex;
      justify-content: center; }
      body > header > div h1 {
        align-self: center;
        color: white;
        font-size: 50px; }
  body #inner-wrapper {
    width: 920px;
    margin: 0 auto; }
    body #inner-wrapper main {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding-top: 20px;
      background-color: #F3F3F5; }
      body #inner-wrapper main aside {
        margin-right: 20px;
        width: 20%; }
        body #inner-wrapper main aside img {
          max-width: 100%;
          height: auto; }
        body #inner-wrapper main aside ul {
          list-style-type: none;
          font-size: 14px;
          color: white;
          background-color: #4E5359;
          padding: 0;
          margin: 0; }
          body #inner-wrapper main aside ul li a {
            display: block;
            padding: 15px 150px 15px 25px;
            text-decoration: none;
            color: white; }
            body #inner-wrapper main aside ul li a:hover {
              background-color: #5D6167;
              border-left: 2px solid #2F6D6C; }
          body #inner-wrapper main aside ul li .selected {
            background-color: #42464B;
            border-left: 4px solid #22DBA5; }
      body #inner-wrapper main section {
        width: 70%;
        font-size: 14px; }
        body #inner-wrapper main section article {
          padding: 15px;
          background-color: white;
          margin-bottom: 20px;
          border-top: 3px solid #BBBABF; }
          body #inner-wrapper main section article header {
            font-size: 14px;
            color: #BBC0CF;
            font-weight: bold; }
          body #inner-wrapper main section article h3 a {
            text-decoration: none;
            color: #0000EE; }
  body > footer {
    height: 150px;
    background-color: #C9C7CC;
    padding: 5% 0% 0% 15%; }
    body > footer p {
      color: #677790;
      margin: 0; }

/*# sourceMappingURL=style.css.map */
