body{
/*background: url(back.png) no-repeat;*/
}

#face{
    width: 495px;
    height: 495px;
    background-color: rgba(255,255,0,1);
    border: 3px solid black;
    border-radius: 300px;
    margin-top: -5px;
}

#nose{
    bottom: 299px;
    left:201px ;
    position: relative;
    width: 75px;
    height: 75px;
    background-color: rgba(255,0,0,1);
    border: 3px solid black;
    border-radius: 40px;
    background-color: red;
}

#mouth{
    position: relative;
    height: 94px;
    width: 243px;
    border: 3px solid black;
    bottom: 279px;
    left: 117px;
    border-radius: 48px;
    background-color: white;
}

#left-eye{
    bottom: 588px;
    left:93px ;
    position: relative;
    width: 93px;
    height: 93px;
    border: 3px solid black;
    border-radius: 60px;
    background-color: white;
}

#right-eye{
    bottom: 688px;
    left:292px ;
    position: relative;
    width: 93px;
    height: 93px;
    border: 3px solid black;
    border-radius: 60px;
    background-color: white;
}

#left-retina{
    bottom: 735px;
    left:145px ;
    position: relative;
    width: 25px;
    height: 25px;
    border: 3px solid black;
    border-radius: 60px;
    background-color: black;
}

#right-retina{
    bottom: 815px;
    left:295px ;
    position: relative;
    width: 25px;
    height: 25px;
    border: 3px solid black;
    border-radius: 60px;
    background-color: black;
}

#tooth-left{
    bottom: 639px;
    left:192px ;
    position: relative;
    width: 44px;
    height: 44px;
    border: 3px solid black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    /*background-color: white;*/
}

#tooth-right{
    bottom: 689px;
    left:241px ;
    position: relative;
    width: 44px;
    height: 44px;
    border: 3px solid black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    /*background-color: white;*/
}