body{
  label{
    display: block;
    margin: 10px;
    input{
      margin-left: 10px;
    }
  }
  #lifetime-supply{
    width: 500px;
    height: 30px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
  }
  button{
    width: 100px;
    height: 30px;

  }
}