html {
  font-size: 14px; }

body {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0; }
  body #wrapper {
    width: 900px;
    height: 750px;
    margin: 0 auto;
    font-size: 1rem; }
    body #wrapper > header {
      position: relative; }
      body #wrapper > header > img {
        max-width: 100%;
        height: 100%; }
      body #wrapper > header > div {
        width: 45%;
        position: absolute;
        top: 72%;
        left: 55%;
        color: white;
        font-size: 2rem; }
    body #wrapper nav {
      padding: 0;
      background: #f0f0f0;
      /* Old browsers */
      background: -moz-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #dadada));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #f0f0f0 0%, #dadada 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#dadada', GradientType=0);
      /* IE6-9 */ }
      body #wrapper nav ul {
        margin: 0;
        padding: 0;
        width: 75%;
        font-size: 1.2857em;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap; }
        body #wrapper nav ul li {
          cursor: pointer;
          color: #626161;
          padding: 1% 4%; }
          body #wrapper nav ul li:hover {
            color: white;
            background: #bfbfbf;
            /* Old browsers */
            background: -moz-linear-gradient(top, #bfbfbf 0%, #b4b4b4 100%);
            /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #b4b4b4));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #bfbfbf 0%, #b4b4b4 100%);
            /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #bfbfbf 0%, #b4b4b4 100%);
            /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #bfbfbf 0%, #b4b4b4 100%);
            /* IE10+ */
            background: linear-gradient(to bottom, #bfbfbf 0%, #b4b4b4 100%);
            /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#b4b4b4', GradientType=0);
            /* IE6-9 */ }
    body #wrapper main {
      width: 99%;
      padding: 2% 1%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      body #wrapper main section {
        font-size: 0.857rem;
        height: 100%;
        width: 66%; }
        body #wrapper main section article {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1.5rem;
          border: 1px solid #DBDBDB;
          border-radius: 1rem;
          height: auto;
          width: 99%; }
          body #wrapper main section article:first-of-type {
            margin-bottom: 1.5rem; }
          body #wrapper main section article > header {
            font-size: 1.2857rem;
            color: #84BE19;
            margin-bottom: 1.5rem; }
          body #wrapper main section article > div {
            display: flex;
            flex-direction: row;
            font-size: 0.857rem;
            justify-content: space-between;
            margin-bottom: 1.5rem; }
            body #wrapper main section article > div header {
              font-weight: bold; }
            body #wrapper main section article > div > img {
              height: 100%;
              margin-right: 2rem; }
            body #wrapper main section article > div div {
              width: 65%; }
      body #wrapper main aside {
        width: 23%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 0.875rem; }
        body #wrapper main aside > div {
          box-sizing: border-box;
          width: 99%;
          border: 1px solid #DBDBDB;
          border-radius: 1rem;
          padding: 1.5rem; }
          body #wrapper main aside > div:first-of-type {
            height: auto; }
          body #wrapper main aside > div:nth-of-type(2) {
            height: auto;
            margin-top: 2rem; }
            body #wrapper main aside > div:nth-of-type(2) h3 {
              margin-top: 0.5rem; }
            body #wrapper main aside > div:nth-of-type(2) span {
              font-weight: bold; }
            body #wrapper main aside > div:nth-of-type(2) footer {
              margin-top: 0.5rem;
              color: #84BE19; }
          body #wrapper main aside > div > header {
            font-size: 1.2857rem;
            color: #84BE19; }
          body #wrapper main aside > div ul {
            padding: 0;
            list-style-type: none; }
            body #wrapper main aside > div ul li {
              margin: 1rem 0rem; }
          body #wrapper main aside > div h3, body #wrapper main aside > div p {
            font-size: 0.875rem;
            margin: 0; }
          body #wrapper main aside > div a {
            color: #84BE19; }
    body #wrapper > footer {
      background-color: #84BE19;
      height: 5rem;
      font-size: 0.875rem;
      box-sizing: border-box;
      padding: 1rem 0rem 0rem 10rem;
      margin-top: 2rem; }
      body #wrapper > footer > p > a {
        color: black; }

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px; }

  body {
    width: 99%; }
    body #wrapper {
      margin: 0;
      width: 91%;
      height: 91%; }
      body #wrapper header > div {
        font-size: 1.3rem; }
      body #wrapper main {
        width: 99%; }
    body nav > ul {
      width: 100%; } }
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px; }

  body {
    width: 99%; }
    body #wrapper {
      margin: 0;
      width: 91%;
      height: 91%; }
      body #wrapper header > div {
        font-size: 0.8rem; }
      body #wrapper nav > ul {
        width: 75%;
        margin: 0 auto; }
      body #wrapper main {
        width: 99%; }
        body #wrapper main section {
          width: 99%; }
        body #wrapper main aside {
          display: none; }
      body #wrapper footer {
        padding: 2rem; }
        body #wrapper footer > p {
          margin: 0 auto; }
    body nav > ul {
      width: 100%; } }
@media only screen and (max-width: 320px) {
  html {
    font-size: 12px; }

  body {
    width: 99%; }
    body #wrapper {
      width: 320px; }
      body #wrapper nav > ul {
        width: 75%; }
      body #wrapper footer {
        padding: 1rem; }
        body #wrapper footer > p {
          margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
