@import url("https://www.google.com/fonts#UsePlace:use/Collection:PT+Sans");
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 14px; }
  body #wrapper header {
    background-color: #234465;
    height: 106px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    body #wrapper header .header-logo-link {
      margin-top: 20px;
      width: 20%;
      height: 60%;
      background: url("../img/logo.png") no-repeat; }
    body #wrapper header a, body #wrapper header li {
      text-decoration: none;
      color: white;
      position: relative;
      cursor: pointer;
      margin: 0;
      text-align: left;
      line-height: 100%; }
    body #wrapper header #nav-header {
      width: 70%;
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      flex-direction: column; }
      body #wrapper header #nav-header .main-nav-list {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative; }
        body #wrapper header #nav-header .main-nav-list ul {
          display: none;
          padding: 0;
          margin: 0;
          list-style-type: none;
          background-color: #234465;
          border-radius: 0 0 5px 5px; }
        body #wrapper header #nav-header .main-nav-list li:hover > ul {
          width: 300px;
          height: 300px;
          position: absolute;
          top: 100%;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          border: 1px solid #1D3955; }
      body #wrapper header #nav-header .nav-list > li:hover {
        background-color: #4CA0DB;
        transition: all 0.3s ease;
        border-radius: 5px; }
      body #wrapper header #nav-header .nav-list > li {
        border-radius: 5px;
        padding: 10px; }
        body #wrapper header #nav-header .nav-list > li:nth-child(2) {
          background: url("../img/arrow.png") no-repeat;
          background-size: 10px;
          background-position: right; }
        body #wrapper header #nav-header .nav-list > li:nth-child(3) {
          background: url("../img/arrow.png") no-repeat;
          background-size: 10px;
          background-position: right; }
        body #wrapper header #nav-header .nav-list > li > ul > li {
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          border-bottom: 1px solid #435F7B;
          margin: 0; }
          body #wrapper header #nav-header .nav-list > li > ul > li:hover {
            background-color: #ff9c00;
            border-radius: 0; }
      body #wrapper header #nav-header input {
        margin-right: 25px;
        width: 27%;
        border: 0 none;
        border-radius: 5px; }
      body #wrapper header #nav-header button {
        position: absolute;
        right: 20px; }
      body #wrapper header #nav-header .notifications-main {
        margin: 0;
        padding: 5px;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 32px; }
        body #wrapper header #nav-header .notifications-main .notifications {
          width: 15%;
          margin-top: 15px; }
          body #wrapper header #nav-header .notifications-main .notifications ul > li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding-left: 10px;
            border-bottom: 1px solid #435F7B; }
          body #wrapper header #nav-header .notifications-main .notifications > li:nth-child(1) {
            background: url("../img/bell.png") no-repeat;
            background-size: 17px;
            width: 25px;
            height: 17px;
            background-position: right; }
          body #wrapper header #nav-header .notifications-main .notifications > li:nth-child(2) {
            padding-right: 15px;
            height: 15px;
            background: url("../img/arrow.png") no-repeat;
            background-size: 10px;
            background-position-x: 40px;
            background-position-y: 3px; }
          body #wrapper header #nav-header .notifications-main .notifications > li:hover {
            text-decoration: underline; }
            body #wrapper header #nav-header .notifications-main .notifications > li:hover > ul {
              width: 300px;
              z-index: 9999;
              background-color: #234465; }
              body #wrapper header #nav-header .notifications-main .notifications > li:hover > ul li:hover {
                background-color: #ff9c00; }

/*# sourceMappingURL=style.css.map */
