body{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  >div{
    width: 47%;
  }

  h1{
    font-size: 35px;
  }
  .title{
    display: block;
  }
  .block-input{
    display: block;
  }
  input{
    margin: 5px;
  }

  option{
    margin: 5px;
  }

  table,th,tr,td{
    border: 1px solid black;
  }
  .hide{
    display: none;
  }

  table{
    margin-top: 15px;
  }


}