body {
    width: 100%;
    background-image: url(../img/background.jpg);
    background-size: 75%;
    background-repeat: no-repeat;
    font-size: 2.7vw;
}

header {
    display: block;
    font-family: Calibri, serif;
    font-size: 100%;
    color: rgb(243, 190, 96);
    font-weight: bold;
    margin-top: 20px;
}

section {
    display: block;
}

#logo {
    display: block;
    float: right;
    margin: -1% 26% 0% 0%;
    width: 15%;
}

p {
    margin: 0% 0% 0% 1%;
    padding: 0%;
}

ul.outer-list {
    /*list-style-type: none;*/
    font-family: Calibri, serif;
    font-size: 90%;
    color: white;
    margin: 0.5% 0% 0% 0.5%;
}
ul.outer-list>li::after {


    color: rgb(243, 205, 60)
    
}

div.inner-list {
    font-family: Calibri, serif;
    font-size: 63%;
    font-weight: bold;
    color: rgb(251, 238, 201);
    border: 1px solid;
    border-color: rgb(199, 191, 172);
    background-color: rgba(217, 213, 199, 0.15);
    width: 65%;
    margin: 0.5% 0% 0% 1.5%;
    padding: 0.2% 0.2%;
}

.tags {
    font-family: Consolas, serif;
    color: rgb(243, 205, 60);
    font-weight: bold;
}



