@font-face {
  font-family: Animated;
  src: url("../fonts/Animated.ttf");
}
body {
  margin: 0;
  padding: 0;


  #title{
    position: absolute;
    bottom: 510px;
    left: 470px;
    font-family: Animated;
    color: #FDBC21;
    font-size: 50px;
  }

  #vladog-hula{
//    display: inline-block;
    position: absolute;
    width: 265px;
    height: 350px;
    background-image: url("../img/VladoGHula.png");
    margin-top: 220px;
    margin-left: 45px;
    }

  #petia-hula{
    position: absolute;
    top: 180px;
    left: 180px;
    width: 238px;
    height: 375px;
    background-image: url("../img/PetiaHula.png");
  }
  #tedi-hula{
    position: absolute;
    left: 260px;
    top:350px;
    width: 156px;
    height: 220px;
    background-image: url("../img/TediHula.png");
  }
  #nakov-hula{
    position: absolute;
    left: 410px;
    top: 150px;
    width: 215px;
    height: 400px;
    background-image: url("../img/NakovHula.png");
  }
  #alex-hula{
    position: absolute;
    left: 490px;
    top: 190px;
      width: 238px;
    height: 375px;
    background-image: url("../img/AlexHula.png");
  }
  #vladok-hula{
    position: absolute;
    left: 670px;
    top: 210px;
    width: 213px;
    height: 350px;
    background-image: url("../img/VladoKHula.png");
  }

  #sky{
    position: absolute;

    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #00A3EF 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #00A3EF 100%);

    /* Opera */
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #00A3EF 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, left top, 0, left top, 1011, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #00A3EF 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #00A3EF 100%);

    width: 900px;
    height: 600px;
  }


  #hawaii{
    position: absolute;
    background-image: url("../img/HawaiiBackground.png");
    height: 600px;
    width: 900px;
  }
}